<html>
<body style="background-color:powderblue;">
    @{
        ViewBag.Title = "İletişim";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Selçuk Üniversitesi<br />
        Alaaddin Keykubat Kampüsü<br />
        <abbr title="Phone">Tel:</abbr>
        +90 332 2233373
    </address>

    <address>
        <strong>Email:</strong>   <a href="ceng@selcuk.edu.tr">ceng@selcuk.edu.tr</a><br />
        <strong>Faks:</strong> <a href="+90 332 2412179">+90 332 2412179</a>
    </address>

</body>
</html>