<html>

    @{
        ViewBag.Title = "Ana Sayfa";
    }
    <body style="background-color:powderblue;">
        <div class="jumbotron" style="background-color:cornflowerblue">

            <img  src="https://tf.selcuk.edu.tr/images/tf_logo_tr.png" , />

            <h2 class="lead"> Selçuk Üniversitesi Teknoloji Fakültesine Hoşgeldiniz.</h2>
            <h4>İşyeri eğitimi ve otomasyona kayıt için buradan devam ediniz.</h4>
            <br />
            <p><a href="https://iye.selcuk.edu.tr" class="btn btn-primary btn-lg btn-success">İşyeri Eğitimi Otomasyonu &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>İşletmede Mesleki Eğitim Rehberi</h2>
                <p>
                    İşletmede mesleki eğitim modelinin ana hedefi; iş dünyasının ihtiyaç duyduğu nitelikteki elemanı ve personeli günün teknolojileri ve bilgilerine sahip olarak iş dünyası ile birlikte yetiştirmektir. İşyeri eğitimine gideceği dönemde öğrencilerimizin GNO=>1.80 olması ve gideceği dönemde alttan dersi olmaması gerekir.
                </p>
                <p><a class="btn btn-default" href="https://tf.selcuk.edu.tr/dosyalar/files/033001/isletmede_mesleki_egitim/isletmede_mesleki_egitim_rehberi.pdf"> Rehber için &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Kayıtlı İşyerleri</h2>
                <p>Selçuk Üniversitesi ile protokolü olan işletmeler için devam edin.</p>
                <p><a class="btn btn-default" href="https://tf.selcuk.edu.tr/dosyalar/files/033001/isletmede_mesleki_egitim/protokolu_bulunan_isletmeler_13_12_2021.pdf">Kayıtlı işyerleri &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>İşletmede Mesleki Eğitim Takvimi</h2>
                <p>Takvim için devam edin.</p>
                <p><a class="btn btn-default" href="https://tf.selcuk.edu.tr/dosyalar/files/033001/isletmede_mesleki_egitim/2022-2023_guz.pdf">İME Takvimi &raquo;</a></p>
            </div>
        </div>
        </body> 
</html>